title Yeoman yogurt generator
<% if (cssreset == 'meyer') { %>
link(type='text/css', rel='stylesheet', href='css/reset.css')
<% } %>
<% if (cssreset == 'normalize') { %>
link(type='text/css', rel='stylesheet', href='css/normalize.css')
<% } %>
link(type='text/css', rel='stylesheet', href='css/application.css')
