!!!
html
  head
    include _shared/_head
  body
    .main
      include _shared/_header
      .content
        h1 Index page

        <% if (datauri) {%>.icon-geo<% } %>

        <% if (rublefont) { %>h2 Ruble sign
        .ruble 99 ла
        .ruble: b 99 ла
        .ruble: i 99 ла
        .ruble: b: i 99 ла<% } %>

    include _shared/_footer
